<div style='background-color : orange'>
<a id='TableOfContents'></a>
    <b><u><i><h1 style='text-align : center'>
        Table of Contents
    </h1></i></u></b>
<li><a href='#imports'>Imports</a></li>
<li><a href='#wrangle'>Wrangle</a></li>
<li><a href='#req'>Required Portion</a></li>
<li><a href='#bonus'>Bonus Portion</a></li>

<div style='background-color : orange'>
<a id='imports'></a>
    <b><u><i><h1 style='text-align : center'>
        Imports
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

In [3]:
# Vectorization and dataframing
import numpy as np
import pandas as pd

# Visualizations
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# Ignore Warnings
import warnings
warnings.filterwarnings('ignore')

# .py files
import wrangle as w

In [4]:
# Set default plt style to 'bmh'
mpl.style.use('bmh')

<div style='background-color : orange'>
<a id='wrangle'></a>
    <b><u><i><h1 style='text-align : center'>
        Wrangle
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>

<b><h3 style='text-align : center'>
    WRANGLE DAT SHIT :D
</h1></b>

The dataset for these exercises lives in the Codeup Data Science MySQL Server. The database name is curriculum_logs.

In [14]:
curr_logs = w.acquire_curriculum_logs()
curr_logs.sample()

,date,time,path,user_id,cohort_id,ip,id,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
258124,2019-05-02,21:01:27,spring/fundamentals/repositories,328,29.0,99.43.108.160,29.0,Zion,#zion,2019-01-22,2019-06-04,2019-01-20 23:18:57,2019-01-20 23:18:57,NaN,2.0

In [15]:
curr_logs['datetime'] = curr_logs.date + ' ' + curr_logs.time
curr_logs.datetime = pd.to_datetime(curr_logs.datetime)
curr_logs.set_index(curr_logs.datetime, inplace=True)
curr_logs.drop(columns=['date', 'time', 'id', 'datetime'], inplace=True)

In [16]:
curr_logs

,path,user_id,cohort_id,ip,name,slack,start_date,end_date,created_at,updated_at,deleted_at,program_id
datetime,,,,,,,,,,,,
2018-01-26 09:55:03,/,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2018-01-26 09:56:02,java-ii,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2018-01-26 09:56:05,java-ii/object-oriented-programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2018-01-26 09:56:06,slides/object_oriented_programming,1,8.0,97.105.19.61,Hampton,#hampton,2015-09-22,2016-02-06,2016-06-14 19:52:26,2016-06-14 19:52:26,NaN,1.0
2018-01-26 09:56:24,javascript-i/conditionals,2,22.0,97.105.19.61,Teddy,#teddy,2018-01-08,2018-05-17,2018-01-08 13:59:10,2018-01-08 13:59:10,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-04-21 16:41:51,jquery/personal-site,64,28.0,71.150.217.33,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2.0
2021-04-21 16:42:02,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2.0
2021-04-21 16:42:09,jquery/ajax/weather-map,64,28.0,71.150.217.33,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2.0
2021-04-21 16:44:37,anomaly-detection/discrete-probabilistic-methods,744,28.0,24.160.137.86,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2.0
2021-04-21 16:44:39,jquery/mapbox-api,64,28.0,71.150.217.33,Staff,#,2014-02-04,2014-02-04,2018-12-06 17:04:19,2018-12-06 17:04:19,NaN,2.0

<div style='background-color : orange'>
<a id='req'></a>
    <b><u><i><h1 style='text-align : center'>
        Required Portion
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#ema'>Exponential Moving Average</a></li>

Go through the lesson commenting code, adding docstrings, and adding markdown to support what is happening.

---

<a id='ema'></a>
    <h3><b><i>
        Exponential Moving Average
    </i></b></h3>
<li><a href='#req'>Required Top</a></li>

EMA$_t$ = $a$ * (t$_0$ - EMA$_t$$_-$$_1$) + EMA$_t$$_-$$_1$
- M = Number of time periods, span of the window
- t$_0$ = Latest value
- t - 1 = Previous value
- EMA$_t$$_-$$_1$ = Exponential moving average of previous day
- The multiplier: $a$ = (2 / (M+1))

In [17]:
# 7 day EMA
ema_7d = curr_logs.path.resample('d').ewm(span=7).mean()
ema_7d.head()

AttributeError: 'DatetimeIndexResampler' object has no attribute 'ewm'

<div style='background-color : orange'>
<a id='bonus'></a>
    <b><u><i><h1 style='text-align : center'>
        Bonus Portion
    </h1></i></u></b>
<li><a href='#TableOfContents'>Table of Contents</a></li>
    <li><a href='#bonusa'>Bonus-a</a></li>
    <li><a href='#bonusb'>Bonus-b</a></li>
    <li><a href='#bonusc'>Bonus-c</a></li>
    <li><a href='#bonusd'>Bonus-d</a></li>

<a id='bonusa'></a>
<b>Bonus-a:</b> Discover users who are accessing our curriculum pages way beyond the end of their codeup time. What would the dataframe look like? Use time series method for detecting anomalies, like exponential moving average with %b.

<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#bonus'>Bonus Portion Top</a></li>

<a id='bonusb'></a>
<b>Bonus-b:</b> Can you label students who are viewing both the web dev and data science curriculum?

<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#bonus'>Bonus Portion Top</a></li>

<a id='bonusc'></a>
<b>Bonus-c:</b> Can you label students by the program they are in? 

<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#bonus'>Bonus Portion Top</a></li>

<a id='bonusd'></a>
<b>Bonus-d:</b> Can you label users by student vs. staff?

<li><a href='#TableOfContents'>Table of Contents</a></li>
<li><a href='#bonus'>Bonus Portion Top</a></li>